# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [41]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [42]:
df = pd.read_csv('student_alcohol.csv')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [43]:
sliced_df = df.loc[:,'school':'guardian']

### Step 5. Create a lambda function that will capitalize strings.

In [44]:
capitalize_string = lambda s: s.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [45]:
Mjob_capitalized = df['Mjob'].str.capitalize()

Fjob_capitalized = df['Fjob'].str.capitalize()

In [46]:
print("DataFrame:\n", df[['Mjob', 'Fjob']].head())
print("\nCapitalized:\n", pd.DataFrame({'Mjob_capitalized': Mjob_capitalized, 'Fjob_capitalized': Fjob_capitalized}).head())

DataFrame:
       Mjob      Fjob
0  at_home   teacher
1  at_home     other
2  at_home     other
3   health  services
4    other     other

Capitalized:
   Mjob_capitalized Fjob_capitalized
0          At_home          Teacher
1          At_home            Other
2          At_home            Other
3           Health         Services
4            Other            Other

### Step 7. Print the last elements of the data set.

In [48]:
print(df.tail(1))

    school sex  age address famsize Pstatus  Medu  Fedu   Mjob     Fjob  ...  \
394     MS   M   19       U     LE3       T     1     1  other  at_home  ...

    famrel freetime  goout  Dalc  Walc health absences G1 G2 G3
394      3        2      3     3     3      5        5  8  9  9

[1 rows x 33 columns]

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

Lý do khung dữ liệu gốc vẫn xuất hiện dưới dạng chữ thường ở Bước 6 là do thao tác viết hoa được thực hiện trên một bản sao của các cột, chứ không phải trên chính các cột gốc.

Để sửa lỗi này và thực sự viết hoa các cột gốc trong khung dữ liệu, cần gán lại các bản sao được viết hoa cho các cột gốc

In [49]:
df['Mjob'] = df['Mjob'].str.capitalize()
df['Fjob'] = df['Fjob'].str.capitalize()

In [50]:
print("\nOriginal DataFrame after Capitalization:\n", df[['Mjob', 'Fjob']].head())

Original DataFrame after Capitalization:
       Mjob      Fjob
0  At_home   Teacher
1  At_home     Other
2  At_home     Other
3   Health  Services
4    Other     Other

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [52]:
def majority(age):
  """
  Determines if a person is of legal drinking age (older than 17).

  Args:
    age: The age of the person.

  Returns:
    True if the person is older than 17, False otherwise.
  """
  return age > 17

df['legal_drinker'] = df['age'].apply(majority)

print(df[['age', 'legal_drinker']].head())

   age  legal_drinker
0   18           True
1   17          False
2   15          False
3   15          False
4   16          False

### Step 10. Multiply every number of the dataset by 10.
##### I know this makes no sense, don't forget it is just an exercise

In [54]:
numeric_cols = df.select_dtypes(include=['number']).columns

df[numeric_cols] = df[numeric_cols] * 10

print(df.head())

  school sex   age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F  1800       U     GT3       A   400   400  At_home   Teacher
1     GP   F  1700       U     GT3       T   100   100  At_home     Other
2     GP   F  1500       U     LE3       T   100   100  At_home     Other
3     GP   F  1500       U     GT3       T   400   200   Health  Services
4     GP   F  1600       U     GT3       T   300   300    Other     Other

   ... freetime goout  Dalc  Walc  health absences    G1    G2    G3  \
0  ...      300   400   100   100     300      600   500   600   600
1  ...      300   300   100   100     300      400   500   500   600
2  ...      300   200   200   300     300     1000   700   800  1000
3  ...      200   200   100   100     500      200  1500  1400  1500
4  ...      300   200   100   200     500      400   600  1000  1000

  legal_drinker
0          True
1         False
2         False
3         False
4         False

[5 rows x 34 columns]